.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 1% 2% 1% 2%;
  width: 100%;
  
}

.inner-content {
  margin: 1em;
  color: rgba(71, 69, 69, 0.808);
  display: flex;
  flex-direction: column;
  
}

.inner-content-header {
  text-align: center;
  margin-bottom: 0;

}

.inner-content-header h4 {
  font-weight: bolder;
}

.inner-content-content {
  margin-top: -1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 500px;
  overflow-y: auto;
} 

.content-cards {
    max-width: 300px;
    /* max-height: 50%; */
}

.inner-content-content p {
  font-size: 0.9em;
  /* font-weight: bolder; */
}

p.desc {
   
}

p.price {
  font-weight: bold;
}

.example-card {
  margin: 1em;
  max-width: 70%;
}



.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
