.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 1% 2%;
  width: 100%;
  padding: 0 2.5em 0 2em;
}

.inner-content {
  color: rgba(71, 69, 69, 0.808);
  display: flex;
  flex-direction: column;
}

.inner-content-header {
  text-align: center;
  margin: 0;
}

.inner-content-header h4 {
  font-weight: bolder;
}

.inner-content-content {
  margin-top: -1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 600px;
  overflow-y: auto;
}


.inner-content-content p {
  font-size: 0.9em;
}

p.price {
  font-weight: bold;
}

.example-card {
  margin: 1em;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
  max-width: 210px;
  height: auto;
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 30px 0 0 30px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 30px 30px 0 !important;
}

.search-input {
  margin: 0;  
}
/* search bar size */
.search {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;

}

.back-button {
  position: absolute;
  left: 5em;
}


@media screen and (min-height: 600px) {
  .inner-content-content {
    height: 300px;
  }

  .example-card {
    max-width: 200px;
  }

  .card-image {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
}

/* @media screen and (min-height: 653px) {
  .search-input {
    width: 40vw;
  }
} */

@media screen and (min-height: 667px) {
  .inner-content-content {
    height: 335px;
  }
}

@media screen and (min-height: 720px) {
  .inner-content-content {
    height: 395px;
  }
}

@media screen and (min-height: 740px) {
  .inner-content-content {
    height: 400px;
  }
}

@media screen and (min-height: 800px) {
  .inner-content-content {
    height: 500px;
  }

  .example-card {
    max-width: 250px;
  }

  .card-image {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
}

@media screen and (min-height: 844px) {
  .inner-content-content {
    height: 500px;
  }
}

@media screen and (min-height: 896px) {
  .inner-content-content {
    height: 540px;
  }
}

@media screen and (min-height: 1024px) {
  .inner-content-content {
    height: 635px;
  }
}

@media screen and (min-height: 1180px) {
  .inner-content-content {
    height: 767px;
  }
}

@media screen and (min-height: 1368px) {
  .inner-content-content {
    height: 927px;
  }
}